

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html{
  background: #1b1b1b;
}

body {
  height: 100vh;
  color: #fff;
  transition: color 0.5s, background-color 0.5s;
  font-family: Roboto,  sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
}
