@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Braah+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

body{
  background-color: rgb(197, 162, 119);
}

h1,
h2,
h3,
h4,
a {
  font-family: 'Bebas Neue', cursive;
  color: #ff7043;
  text-align: center;
  line-height: 100%;
}

h5 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  line-height: 100%;
}


.text-h5{
  font-family: 'Bebas Neue', cursive !important;
  line-height: 100% !important;
  color: #ff7043;
}

.v-btn__content{
  font-family: 'Bebas Neue', cursive !important;
  line-height: 100% !important;

}

#app{
  height: 100vh;
}


h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

